*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.nav-container{
  background-color:#40739e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo{
  padding-right: 600px;
  width: 100px;
  height: 100px;
}
.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.menu-item>li>a{
text-decoration: none;
padding-right: 15px;
color:white ;
}
.menu-item>li>a:hover{
  color:#FDA7DF ;
}
.banner-container{
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url(image/background.jpg),linear-gradient(-90deg,#2f3640,#353b48);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.banner-content{
text-align: center;
width: 50% ;
margin: auto;
}
.banner-title{
  font-size: 55px;
  color: white;
}
span{
  color:red ;
}
.banner-description{
  color: white;
  padding: 10px;
  
}
.btn-primary{
  background-color: red;
  padding: 12px;
  color: white;
  border: 0;

}
.btn-primary>a{text-decoration: none;
color: white;}
.btn-primary>a:hover{color: #FDA7DF;}
.btn{
  background-color: white;
  padding: 12px;
  border: 0;
}
.btn>a{
  text-decoration: none;
  color: black;
}
.btn>a:hover{color:red;}
/* main part style */
.main-part-1{
  display: flex;
 align-items: center;
 justify-content: space-evenly;
 background: url(image/footer-bg.png),linear-gradient(45deg,#1e272e,black);
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding: 20px;
}
.content-part{
width: 50%;
text-align: left;
}
.img-part{


}
.box-1{

}
.child-1{
  display: flex;
}
.child-2{
  display: flex;
}
.box{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: 5px;
}
.img1{
  width: 100px;
  height: 100px;
  gap: 3px;
}
img{
  margin: 5px;
  
}
.title-1{
  color: white;
font-size: 30px;
margin-bottom: 5px;
}
.description-1{ color: white;
font-size: 18px;
margin-bottom: 5px;}
.list{
  color: white;
  width: 50%;
  font-size: 15px;
}
.author{
  display: flex;
  align-items: center;
  justify-content: center;
}
.author-img{display: flex;
align-items: center;
gap: 20px;
}
.author-img>img{
  width: 100px;
  border-radius: 50%;
}
.author hr{
  border-right: 2px solid white;
  height: 35px;
  margin: 15px;
}
.appointment-container{display: flex;
align-items: center;
justify-content: center;
background-image:url(image/background.jpg) ;
width: 70% ;
margin: auto;
border-radius: 10px;
margin-top: -30px;
padding: 20px;}
.call{
  display: flex;
  align-items: center;
  justify-content: center;
}
.call img{
  width: 100px;
}
footer{
  background-color: black;
}
.footer-section{
  display: flex;
  color: white;
  background-color: black;
  justify-content: space-evenly;
  align-items: center;
}
.social-media{
  align-items: center;
}
.social-media>img{
  width: 20px;
  border-radius: 50%;
  background: white;
}
footer div hr{
  border-bottom: 2px solid green;
  width: 70%;
  margin-top: 20px;
  margin: auto;
}
.footer-section h3{
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}
.footer-section p{
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
}
footer h5{

}